<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <title>Cinema Rpc</title>
    <title></title>
  </head>
  <body>
    <div class="topnav">

    </div>
    {% block content %}
      {% from 'macros.html' import render_field %}
      <form class=""  method="post">
        <div class="">
          {{ render_field(form.name) }}
        </div>

        <div class="">
          {{ render_field(form.passs) }}
        </div>

        <div class="">
          <button type="submit" class="btn success" name="sendLog">Ingresar</button>
        </div>
        <div class="">
          {% if data %}
            {{ data }}
          {% endif%}
        </div>
      </form>
    {% endblock %}
  </body>
</html>
