<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <title>CinemaRPC: service3</title>
  </head>
  <body>
    <div class="topnav">
     <a href=/>Home</a>
     <a href=/service1>Say Hello</a>
     <a href=/service2>Sum</a>
     <a class="active" href=/service3>List Hello</a>
    </div>
      {% block content %}
        {% from 'macros.html' import render_field %}
        <form class="" method="post">
          <div class="">
            {{ render_field(form.name_movie) }}
          </div>
          <div class="">
            {{ render_field(form.date_p) }}
          </div>
          <div class="">
            <button type="submit" name="sendService3">Ok</button>
          </div>
          <div class="">
            <table>
              <tr>
                <th>Saludos</th>
              </tr>
              {% for value in data %}
              <tr>
                  <th>{{ value }}</th>
              </tr>
              {% endfor %}
            </table>
          </div>
        </form>
      {% endblock %}
  </body>
</html>
