<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <title>Cinema Rpc</title>
  </head>
  <body>
    <div class="topnav">
     <a class="active" href=/>Home</a>
     <a href=/service1>Login</a>

    </div>
    <h1>CINEMA RPC</h1>
    <div class="">
      <a href=/service1>
        <button type=" button" class="btn success block" name="button1"> Logear </button>
      </a>
    </div>
    <div class="">
      <br>
    </div>
    
    <div class="">
      <br>
    </div>

    <div class="">
      <br>
    </div>
  </body>
</html>
